$header-height: 50px;
$homepage-header: 90px;
$header-bg: #adc418;

$white: #ffffff;

$grey: #d8d8d8;
$grey90: #7f7f7f;
$grey80: #f1f0f0;

$black: #000000;

$primary_blue: #ffffff;

$yellow: #ffb721;

$breakpoint-phone: 320px;
$breakpoint-phablet: 320px;
$breakpoint-mini-tablet: 640px;
$breakpoint-tablet: 768px;
