doctype html  
html(lang='en')
    title MXPlay
    meta(name="theme-color", content="#3C8CF0")
    meta(name="viewport",content="width=device-width, maximum-scale=1.0, initial-scale=1, user-scalable=no")
    meta(name="description", content="MXPlay is a video streaming service and India's Maha entertainment destination.")
    head 
        link(rel="shortcut icon" href="/images/favicon.png")
        style.
          html, body {height: 100%; background: #fff;}

    body
        img(src="https://assets-1.mxplay.com/static/images/geo-lock.png", style="width: 100%;", alt="")